/*--- text transform/center ---*/
.center{
    align-self: center;
}

.capitalize{
    text-transform: capitalize;
}

.inline-block{
    display: inline-block;
}

.center{
    align-items: center;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

/*--- colors ---*/

.bg-color-black{
    background-color: #161514;
}

.bg-color-grey{
    background-color: #212121;
}

.my-red{
    color: #BC0404;
}

.bg-color-orange{
    background-color: #BC9C18;
}

.my-black{
    color: #161514;
}

.my-grey{
    color: #212121;
}

.nav-color{
    background-color: #1A1A1A;
}

a,
.my-yellow{
    color: #F0BB2E;
}

.my-orange{
    color: #BC9C18
}

.my-white{
    color: #EDEBEB;
}

/*--- home ---*/

.half-width,
.topic-title{
    width: 50%
}

.topic-info{
    width: 25%
}

.topic-info-secondary{
    width: 12.5%
}


/*--- topic.html ---*/

.posts{
    padding-top: 50px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.comment-text{
    font-family: sans-serif;
    font-size: 1em;
}

.comment-username{
    font-size: 0.9em;
}

.last-edited{
    font-size: 0.7em;
}

.avatar-picture{
    width: 50%;
}

@media screen and (max-width: 600px) {
  .no-display-mobile {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
    .no-display-pc{
        display: none;
    }
}
