{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        {% for catogory in catogory%}
        <!-- Catogory header-->
            <h3 class="my-white capitalize">{{catogory.catogory}}</h3>
                <table class="no-display-mobile">
                    <tr class="my-white">
                        <th class="topic-title">Topic Title</th>
                        <th class="topic-info">Topic Author</th>
                        <th class="topic-info-secondary">Time last editted</th>
                        <th class="topic-info-secondary center">Comments</th>
                    </tr>
                    <!-- Table topic info -->
                    {% for topic in topics %}    
                        {% if topic.catogory == catogory.catogory %}                          
                            <tr>
                                <td>
                                    <a name="topic_title" href="{{ url_for('current_topic', topic_id = topic._id)}}"><p>{{topic.topic_title}}</p></a>
                                </td>
                                <td>
                                    <p class="capitalize my-white">{{topic.username}}</p>
                                </td>
                                <td>
                                    <p class="my-white">{{topic.last_edited.strftime('%d/%m/%Y %H:%M')}}</p>
                                </td>
                                <td class="center my-white">
                                    {{topic.posts}}
                                </td>
                            </tr>                   
                        {% endif%}
                    {% endfor %}
                </table>
                <!-- Table headers -->
                <table class="">
                    {% for topic in topics %}    
                        {% if topic.catogory == catogory.catogory %}
                        <div class="col s12 my-white hide-on-med-and-up">
                            <h5 class="my-yellow"><a name="topic_title" href="{{ url_for('current_topic', topic_id = topic._id)}}">{{topic.topic_title}}</a></h5>
                            <div class="col s6"><p><strong>Author</strong></p></div><div class="col s6"><p>{{topic.username}}</p></div>
                            <div class="col s6"><p><strong>Comments</strong></p></div><div class="col s6"><p>{{topic.posts}}</p></div>
                            <div class="col s6"><p><strong>Date edited</strong></p></div><div class="col s6"><p>{{topic.last_edited.strftime('%d/%m/%Y %H:%M')}}</p></div>                               
                        </div>
                        {% endif%}
                    {% endfor %}
                </table>         
        {% endfor %}
    </div>
    <!-- Create Topic -->
    <div class="col s12 center">
        {% if session['user'] %}
            <a href="{{url_for('create_topic')}}" class="my-grey bg-color-orange center btn">Create a Topic!</a>
        {% else %}
            <p class="my-white">You must be logged in to create a Topic.<a href="{{url_for('login')}}">  Log in here!</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}