{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12">
        {% for catogory in catogory%}
        <h3 class="capitalize">{{catogory.catogory}}</h3>
            <table>
                <tr>
                    <th class="topic-title">Topic Title</th>
                    <th class="topic-info">Topic Author</th>
                    <th class="topic-info-secondary">Time last editted</th>
                    <th class="topic-info-secondary">Comments</th>
                </tr>        
                {% for topic in topics%}    
                {% if topic.catogory == catogory.catogory %}
                <tr>
                    <td>
                        <a name="topic_title" href="{{ url_for('current_topic', topic_id = topic._id)}}"><p class="capitalize">{{topic.topic_title}}</p></a>
                    </td>
                    <td>
                        <p class="capitalize">{{topic.username}}</p>
                    </td>
                    <td>
                        <p>{{topic.last_edited.strftime('%d/%m/%Y %H:%M')}}</p>
                    </td>
                    <td>
                        {{topic.posts}}
                    </td>
                </tr>                            
                {% endif%}
            {% endfor %}
                    </table>          
        {% endfor %}
        {% if session['user'] %}
        <a href="{{url_for('create_topic')}}" class="waves-effect waves-light btn-large">Create a Topic!</a>
        {% else %}
        <p>You must be logged in to create a Topic.<a href="{{url_for('login')}}">  Log in here!</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}