{% extends 'base.html' %}
{% block content %}
    <h2 class="my-white show-on-small">Create Topic</h2>
    <div class="row">
        <form method="POST" class="input-field col s12 my-white">
            <!-- select catogory -->
            <select class="my-white" name="catogory" id="catogory">
                <option class="my-white" disabled required>Choose your option</option>
                {% for catogory in catogories %}
                <option name="catogory" class="my-white" value="{{catogory.catogory}}"><span class="my-white">{{catogory.catogory}}</span></option>
                {% endfor %}
            </select>
            <!-- New topic title -->
            <div>
                <input placeholder="your topic title" id="topic_title" name="topic_title" type="text" class="validate my-white" required>
                <label for="topic_title">Topic title</label>
            </div>
            <!-- First comment of the new topic -->
            <div>                
                <textarea id="new_comment" name="new_comment" class="materialize-textarea my-white" data-length="2000" required></textarea>
                <label for="new_comment">Textarea</label>
            </div>
            <!-- submit button -->
            <div>   
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });        
</script>
{% endblock %}