{% extends "base.html" %}
{% block content %}
{% for catogory in catogories%}
<ul class="collapsible expandable">
    <li>
    <div class="collapsible-header">
        <i class="material-icons"></i>
        <a name="catogory_title" href="{{url_for('catogory', catogory_id = catogory._id)}}">
           {{catogory.catogory}}
        </a>
    </div>
    {% for topic in topics%}    
        {% if topic.catogory == catogory.catogory %}
        <div class="collapsible-body">
            <a name="topic_title "href="{{ url_for('current_topic', topic_id = topic._id)}}"><p>{{ topic.topic_title}}</p></a>
        </div>
        {% endif%}
    {% endfor %}
    </li>
</ul>
{% endfor %}

{% endblock %}
{% block scripts %}
    <script>
document.addEventListener("DOMContentLoaded", (event) => {
    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
    accordion: false
})});        
</script>
{% endblock %}