{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 ">
        <ul class="collapsible expandable bg-color-grey">
            {% for catogory in catogories%}
                <li class="active my-white">
                    <div class="collapsible-header  bg-color-grey">
                        <a name="{{catogory}}" class="capitalize" href="{{url_for('catogory', catogory_id = catogory._id)}}">
                            <h4>{{catogory.catogory}}</h4>
                        </a>
                    </div>
                    <div class="collapsible-body">
                        <table>
                            <tr>
                                <th class="topic-title">Topic Title</th>
                                <th class="topic-info">Topic Author</th>
                                <th class="topic-info-secondary">Time last editted</th>
                                <th class="topic-info-secondary center">Comments</th>
                            </tr>
                            {% for topic in topics %}    
                                {% if topic.catogory == catogory.catogory %}                          
                                    <tr>
                                        <td>
                                            <a name="topic_title" href="{{ url_for('current_topic', topic_id = topic._id)}}"><p class="capitalize">{{topic.topic_title}}</p></a>
                                        </td>
                                        <td>
                                            <p class="capitalize">{{topic.username}}</p>
                                        </td>
                                        <td>
                                            <p>{{topic.last_edited.strftime('%d/%m/%Y %H:%M')}}</p>
                                        </td>
                                        <td class="center">
                                            {{topic.posts}}
                                        </td>
                                    </tr>                   
                                {% endif%}
                            {% endfor %}
                        </table>                   
                    </div>
                </li>
            {% endfor %}        
        </ul>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
document.addEventListener("DOMContentLoaded", (event) => {
    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
    accordion: false
})});        
</script>
{% endblock %}