{% extends 'base.html'%}
{% block content %}
{% for topicinf in topicinfo %}
<!-- Topic header -->
    <div class="row my-white">
        <div class="col s10 offset-s2 capitalize"><h3>{{ topicinf.topic_title}}</h3>
        </div>
    </div>
    <!-- Topic comments -->
    {% for comment in comments %}
    <div class="row posts my-white">
        <!-- User info for the comment -->
        {% for users in users %}
            {% if comment.user_id == users.username %}
                {% if users.user_image %}
                    <div class="col s3 m2 user-avatar center"><img src="{{users.user_image}}" alt="avatar picture" class="avatar-picture">
                {% else %}
                    <div class="col s3 m2 user-avatar center"><img src="http://static.asianetnews.com/img/default-user-avatar.png" alt="avatar picture" class="avatar-picture">
                {% endif%}
            {% endif %}
        {% endfor %}
            <div class="row">
                <div class="col s12 center comment-username"><p>{{comment.user_id}}</p></div>
            </div>
        </div>
        <!-- Comments -->
        <div class="col s9 m10 comments">
            <div class="row">
                <pre class="col s12 m10 comment-text full-width">{{comment.comment_text}}</pre>
                {% if session['user'] == comment.user_id %}
                    <a class="col s6 m1" href="{{url_for('edit_comment', comment_id = comment._id)}}"><i class="fas fa-pencil-alt"></i></a>
                    <a class="col s6 m1 modal-trigger my-red" href="{{url_for('delete_comment', comment_id = comment._id, topic_id = topicinf._id)}}"><i class="fas fa-dumpster"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    <p class="center last-edited my-white"><i>{{comment.last_edited.strftime('%d/%m/%Y %H:%M')}}</i></p>
    <hr>
    {% endfor %}
{% endfor %}
<!-- New comment form -->
<div class="row my-white">
    <div class="col s12">
        {% if session['user'] %}
        <h4>Write a comment!</h4>
        <form method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="new_comment" name="new_comment" class="materialize-textarea my-white" data-length="2000"></textarea>
                    <label for="new_comment">Textarea</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right"></i>
            </button>
        </form>
        {% else %}
            <p>You must be logged in to post a comment. <a href="{{url_for('login')}}">Log in here!</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $(".modal-trigger").click(function(){
        $('.modal').modal();
        })
    });
</script>
{% endblock %}